html{
	background: url(../images/road2.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-position: center;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
}
/*Fade in stuff*/
@keyframes move_from_top{
	from {top:-100px;}
	to {top:0px;}
}

@-moz-keyframe move_from_top{ 
	from {top:-100px;}
	to {top:0px;}
}
@-webkit-keyframes move_from_top{
	from {top:-100px;}
	to {top:0px;}
}
@-o-keyframes move_from_top{
	from {top:-100px;}
	to {top:0px;}
}

@keyframes move_from_bottom{
	from {top:100px;}
	to {top:0px;}
}

@-moz-keyframe move_from_bottom{ 
	from {top:100px;}
	to {top:0px;}
}
@-webkit-keyframes move_from_bottom{
	from {top:100px;}
	to {top:0px;}
}
@-o-keyframes move_from_bottom{
	from {top:100px;}
	to {top:0px;}
}
 #page1{
	display: none;
	position: relative;
	animation:move_from_top 0.9s;
	-moz-animation: move_from_top 0.9s; /*Firefox */
	-webkit-animation:move_from_top 0.9s; /*Safari and Chrome*/
	-o-animation:move_from_top 0.9s; /*Opera */
}
footer{
	width: 100%;
	display: none;
	position: relative;
	animation:move_from_bottom 0.9s;
	-moz-animation: move_from_bottom 0.9s; /*Firefox */
	-webkit-animation:move_from_bottom 0.9s; /*Safari and Chrome*/
	-o-animation:move_from_bottom 0.9s; /*Opera */
}
.content_holder h1{
	color:#fff;
	text-align: center;
	margin: 20px 0 5px;

}
.cf:before,
.cf:after{
	content: " ";
	display: table;
}
.cf:after{
	clear: both;
}

.the{
	font-family: 'Gentium Book Basic', serif;
	font-size: 60px;
}
.headtext{
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	font-size: 100px;
}
.subtitle{
		color:#fff;
		display:block;
		text-align: center;
		margin: 0 0 60px;
		font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-weight: 100;
		font-size: 26px;
}
.subtitle span{
	font-size: 16px;
}
.small_wrapper{
	width:100%;
	max-width: 400px;
	margin: 0 auto;
	display: block;
}
body input{
background: none;
color: #fff;
border: thin solid #fff;
display: block;
width: 100%; 
padding: 0 20px;
margin-top: 16px;
height: 50px;
font-size: 20px;
font-family: HelveticaNeue-UltraLight, 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
font-weight: 100;
outline: none;
}

/************Input magic*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c7bbb0;
    font-size: 20px;
    font-family: HelveticaNeue-UltraLight, 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-weight: 100;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #c7bbb0;
    font-size: 20px;
    font-family: HelveticaNeue-UltraLight, 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-weight: 100;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #c7bbb0;
    font-size: 20px;
    font-family: HelveticaNeue-UltraLight, 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-weight: 100;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #c7bbb0;
    font-size: 20px;
    font-family: HelveticaNeue-UltraLight, 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-weight: 100;
}
.form_wrapper_text{
	font-family: HelveticaNeue-UltraLight, 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: 100;
	text-align: center;
	position: relative;
	font-size: 28px;
}
.lining{
	display: inline-block;
}
.lining:before{
	border-top: 1px solid #e4e4e4;
    display: block;
    height: 1px;
    content: " ";
    width: 35%;
    position: absolute;
    left: 0;
    top: 18px;
}
.lining:after{
	border-top: 1px solid #e4e4e4;
    display: block;
    height: 1px;
    content: " ";
    width: 35%;
    position: absolute;
    left: auto;
    top: 18px;
    right: 0px;
}
.finish_title{
	margin-top: 40px
}
.finish_title:before{
	top: 58px;
}
.finish_title:after{
	top: 58px;
}
.button_submit{
	background:#fff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
	border: none;
	width: 100%;
	margin-top: 28px;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 28px;
	padding: 12px;
	color: #5c5443;
	cursor: pointer;
	-webkit-transition: opacity 0.2s;
}
.button_submit:hover{
	opacity: 0.8;
	-webkit-transition: opacity 0.2s;
}
/**********Footer magic! */

footer{
	width: 500px;
	margin: 60px auto 20px auto;
	text-align: center;
	color: #fff;
}
footer h4{
		font-weight: 100;
		font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight: 100; letter-spacing: 1px;
}
footer img{
	border-radius: 100px;
}

.peter{
-moz-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.peter:hover{
-webkit-transform: rotate(-185deg);
-moz-transform: rotate(-185deg);
-ms-transform: rotate(-185deg);
-o-transform: rotate(-185deg);
transform: rotate(-185deg);
}
.scott{
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.scott:hover{
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
.tl{
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.tl:hover{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: transform 0.2s;
	transition: transform 0.2s;
}
footer a{
	width:33%;
	float: left;
	display: block;
	text-decoration: none;
}

/***********    Page 2     *************/

.bigger_wrapper{
	width:100%;
	max-width: 700px;
	margin: 0 auto;
	display: block;
	width: 100%;
}
/*
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);*/
.progress, .bar, .behind_progress_bar{
	height: 20px;
	background: tomato;
	position: relative;
}

/* Landscape phones and down */
@media (max-width: 480px) { 
	.background_holder h1{
		margin:40px 0;
		font-size: 18px;
	}
	.the{
		font-size: 25px;
	}
	.headtext{
		font-size: 52px;
		position: center;
	}
	body footer{
		margin-top: 40px;
		width: 320px;
	}
	footer a{
	width: 100%;
	}
	.small_wrapper{
	width:100%;
	max-width: 380px;
}

/*Animation magic*/
.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}
@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.animated.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}