.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
body{
	background: url(images/maps.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-color: #e7e7e7;
	background-position: bottom;
}
.alert-info{
	border-radius: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.alert-info p{
	text-align: center;
	font-size: 14px;
	line-height: 21px;
}
.cf:before,
.cf:after{
	content: " ";
	display: table;
}
.cf:after{
	clear: both;
}
.row-fluid{
	max-width: 800px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.container-fluid{
	padding: 0 !important;
}
p{
	font-size: 18px;
	font-family: helvetica, arial;
	line-height: 26px;

}
.background_holder{
	background: url(images/road2.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: bottom;
	background-color: #f6ffe8;
	border-top: 5px solid #0087ff;
	width: 100%;

}

.carousel{
	margin: 0;
}

.background_holder h1{
	color:#fff;
	text-align: center;
	margin: 90px 0 90px 0;
}

.the{
	font-family: 'Gentium Book Basic', serif;
	font-size: 60px;
}
.headtext{
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	font-size: 120px;
}
h3{
	color:#333;
	text-align: center;
	margin:20px 0 20px 0;
	font-weight: 300;
}
.input_holder{
	margin: 0 auto;
	max-width: 800px;
	padding: 20px 0;

}
.form_holder{
	width: 50%;
	float: left; 
	margin-bottom: 15px;
}
.container-fluid .row-fluid input{
	width: 92%;
	margin:0 0 0 4%;
	padding: 15px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-color: #666;
}
.white_background{
	background: #fff;

}
.page img{
	border: thin solid #333;
	border-radius: 40px;
	padding: 7px;
	display: block;
	margin: 5px auto 10px auto;
}
.page h4{
	text-align: center;
}
.page{
	padding-bottom: 25px;

}
.alert-info{
	text-align: center;
	font-size: 14px !important;
	line-height: 21px !important;
}
.maps{
	width: 100%;
	padding: 40px 0;
}
.google_maps_holder{
	position: relative;
	max-width: 800px;
	padding: 40px 0;
	margin: 0 auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
canvas{
	width: 100% !important;
	height: 100% !important;
	position: relative;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
#find{
	border: 1px solid #0073e6;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	background-color: #0087ff;
	border-radius: 3px;
	font-weight: 500;
	padding:15px;
	margin: 0 auto;
	display: inline-block;
	width: 30%;
	margin-left: 35%;
	overflow: visible;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition: background 0.5s, border-radius 0.5s;
	-moz-transition: background 0.5s, border-radius 0.5s;
	-o-transition: background 0.5s, border-radius 0.5s;
	-ms-transition: background 0.5s, border-radius 0.5s;
	transition: background 0.5s, border-radius 0.5s;
}
#find:hover{
	background-color: #0073e6;
	color:#fff;
	text-decoration: none;
	border-radius: 6px;
	-webkit-transition: background 0.5s, border-radius 0.5s;
	-moz-transition: background 0.5s, border-radius 0.5s;
	-o-transition: background 0.5s, border-radius 0.5s;
	-ms-transition: background 0.5s, border-radius 0.5s;
	transition: background 0.5s, border-radius 0.5s;
}
.yellow{
	padding: 40px 0;
	background-color: #F7E967;
	width: 100%;
	bottom: 0;
	border-bottom: 5px solid #0087ff;
}
/*Overlay stuff! */
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	z-index: 1000;
	color: #fff;
	text-align: center;
	display: none;
}
.overlay_button{
	text-align: center;
	display: block;
	width: 80px;
	margin: 15px auto;
	color: #fff;
	cursor: pointer;
}
.overlay_button:hover{
	color: #fff;
}
#pano{
	position: relative;
	z-index: 1;
}
.icon_holder{
	width: 50%;
	float: left;
}
.share_holder{
	width: 50%;
	float: left;	
}
.icon{
	display: block;
	width: 50px;
	height: 50px;
	background: black;
	float:left;
	margin: 0px 10px 0px 0px;
	cursor: pointer;
	border-radius: 2px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	-ms-transition: background 0.5s;
	transition: background 0.5s;
}
#car{
	background-image: url(images/car_icon.png);
}
#motor{
	background-image: url(images/motorbike_icon.png);
}
#no_vehicle{
	background-image: url(images/no_vehicle_icon.png);
}
.car_pic {
	position: absolute;
	bottom: 0;
	z-index: 2;
	display: none;
	/*bottom: -34%;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.motor_pic{
	position: absolute;
	width: 40%;
	margin-left: 30%;
	bottom: 2px;
	z-index: 2;
	display: none;
	/*bottom: -34%;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.blue_background{
	background: #0087ff;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	-ms-transition: background 0.5s;
	transition: background 0.5s;
}

/*Responsive! */
/* Large desktop */
@media (min-width: 1200px) { 
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	canvas{
		padding: 0 10px !important;
	}
	.row-fluid{
		padding: 0 10px;
	}
	.vehicle{
		padding:0 10px !important;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
		.form_holder{
		width: 100%;
	}
	.background_holder h1{
		margin:40px 0;
		font-size: 20px;
	}
	#find{
		width: 60%;
		margin-left: 20%;
	}
	.row-fluid{
		padding: 0 10px;
	}
	.the{
		font-size: 40px;
	}
	.headtext{
		font-size: 80px;
	}
	canvas{
		padding: 0 10px !important;
	}
	.vehicle{
		padding:0 10px !important;
	}
	.icon_holder, .share_holder{
		width: 100%;
		text-align: center;
	}
	.icon{

	}
}

/* Progress Bar */

.progress {
	z-index: 210;
	position: relative;
	bottom: -50px;
	margin: 0 auto;
	height: 3px;
	width: 94%;
}
.progress .bar {
	height: 100%;
	width: 0%;
	background-color: #3d7e65;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(45deg, #5cc09a, #3d7e65);
	background-image: -webkit-linear-gradient(45deg, #5cc09a, #3d7e65);
	background-image: -o-linear-gradient(45deg, #5cc09a, #3d7e65);
	background-image: linear-gradient(45deg, #5cc09a, #3d7e65);
}

.bar {
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}